{% extends 'layouts/base.html.twig' %}

{% block title %}Operaciones index{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Nueva Operación</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{{ path('app_home') }}">Inicio/</a><a
                    href="{{ path('operacion_index') }}">Operaciones/</a>Nueva Operacion</li>
    </ol>

    <div class="col-md-5">
    {{ include('front/operacion/_form.html.twig') }}
    </div>

</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}