{% extends 'layouts/base.html.twig' %}

{% block title %}Editar Categoria - {{ parent() }} {% endblock %}

{% block content %}
    <h1>Edit Categorias</h1>
<div class="col-md-5">
    {{ include('front/categorias/_form.html.twig', {'button_label': 'Actualizar'}) }}
    {#<a class="btn btn-outline-primary" href="{{ path('categorias_index') }}"><i class="fas fa-arrow-circle-left"></i> Regresar al listado</a>#}
</div>


{% endblock %}
